.swiper-button-next,
.swiper-button-prev {
        opacity: 0;
        transition: opacity 300ms;
    }
    
    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        opacity: 1;
    color: #4f46e5; /* Indigo-600 */
}

/* estilos.css o tailwind.config.css */
.bg-catalogo {
  background-color: #1e293b; /* slate-800 de Tailwind */
  color: #f1f5f9; /* slate-100 para texto claro */
}


